*{
    margin: 0;
    padding: 0;
  }
  body{
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
nav{
    background-color: rgb(6, 5, 48);
    padding: 5px 0;
    border-bottom: 1px solid #444;
}
  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav li{
    height: 50px;
  }
  nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
  }
  nav a:hover{
    color: #999;
  }
  nav li:first-child{
    margin-right: auto;
  }
  .sidebar{
    position: fixed;
    top: 0; 
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .sidebar li{
    width: 100%;
  }
  .sidebar a{
    width: 100%;
    color: #fff;
  }
  .menu-button{
    display: none;
  }



.hero button {
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
  .hero button:hover {
    background: #333;
    color: white;
  }

.p-4 img {
  opacity: 0.85 !important;
}
.p-6 .flex {
  width: 70% !important;
}

#services .text-base {
  font-size: 20px;
}
#features button:hover,#contact button:hover {
  background: #222;
  color: white;
}

  @media(max-width: 800px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
    }
  }
  @media(max-width: 400px){
    .sidebar{
      width: 100%;
    }
    .p-6 .flex {
      width: 100% !important;
    }
  }
  @media(min-width: 800px){
    .sidebar{
      width: 0;
    }
  }